# Python dependencies for building the Hayabusa documentation site.
# Used by .github/workflows/docs.yml and for local previews:
#   pip install -r website/requirements.txt
#   mkdocs serve -f website/mkdocs.yml
mkdocs-material==9.7.6
mkdocs-glightbox==0.5.2
mkdocs-static-i18n==1.3.1
